<div class="content">
	<header>Welcome to My Favorite Buoy Weather App!</header>

	<section id="stations">
		<header class="all-stations">Here is a list of buoys within 100 nautical miles of 40°N, 73°W:</header>
		<div class="info">Click the checkbox to add a favorite buoy station!</div>

		<div class="station-channel-title"><%= @station_observation.station_channel_title %></div>

		<form id="pick-favorite-stations" action="/" >
			<% @station_observation.stations_hash.each do |key, value| %>
				<div class="checkbox-container">
				  <input type="checkbox" id="station-checkbox-<%= key %>" class="station-checkbox" name="<%= key %>" value="<%= key %>">
			    <label for="station-checkbox-<%= key %>">Station ID: <%= key %></label>
			   </div>
			<% end %>
		</form>
	</section>

	<section id="favorite-stations">
		<header id="favorite-stations-list">
			Your list of favorite stations:
		</header>

		<% @station_observation.stations_hash.each do |key, value| %>
		  <article class="station" id="<%= key %>" style="display:none">
		    Station ID: <%= key %><br>      
		    <%= value.title %><br>
		    <%= value.description %><br>
		  </article>
		<% end %>  
	</section>
</div>
	 